.card-pokemon
{
    max-width: 500px;
}

.imagen-pokemon
{
    max-width: 40%;
    margin: 20px auto;
    background-color: transparent;
}

.image-bg
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}